## Settings file was created by plugin logmodlist v0.1.1
## Plugin GUID: TeamMLC.logmodlist

[General]

## The expected modlist hash for this modpack. Do not change this unless you know what you're doing.
# Setting type: String
# Default value: 
ExpectedModListHash = 

## If true, override the current expected hash to the current one. Do not change this unless you know what you're doing.
# Setting type: Boolean
# Default value: false
AutosetModListHash = false

## Enable or Disable displaying a warning message in the menus when the hash does not match the expected hash.
# Setting type: Boolean
# Default value: true
MenuWarning = true

## Enable or Disable displaying a warning message when a client joins and the hash does not match the host hash.
# Setting type: Boolean
# Default value: true
JoinWarning = true

[Join Warning]

## Message to display in Hash Mismatch Menu Warning Message
# Setting type: String
# Default value: Your modlist does not match the expected modlist hash.\n\n You may experience issues.
JoinWarningText = Your modlist does not match the expected modlist hash.\n\n You may experience issues.

## Seconds delay until hud warning is displayed for mismatched hash on client join.
# Setting type: Int32
# Default value: 5
JoinWarningDelay = 5

[Menu Warning]

## Message to display in Hash Mismatch Menu Warning Message
# Setting type: String
# Default value: Your modlist does not match the expected modlist hash.\n\n You may experience issues.
WarningMessageText = Your modlist does not match the expected modlist hash.\n\n You may experience issues.

## Button text for ignoring the Hash Mismatch Menu Warning Message
# Setting type: String
# Default value: Okay
WarningButtonIgnoreText = Okay

## Button text for reseting ExpectedModListHash to the detected hash in Hash Mismatch Menu Warning Message
# Setting type: String
# Default value: Reset
WarningButtonResetText = Reset

